<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for b2b</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Generated View for b2b</b>
			(<span class="i18n-viewpoint-product"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_product" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/01dd1d95-8f03-4c34-abd2-db2318c547e3.png" alt="Generated View for b2b" usemap="#01dd1d95-8f03-4c34-abd2-db2318c547e3map">
			<map name="01dd1d95-8f03-4c34-abd2-db2318c547e3map">
						<area shape="rect" coords="826,10,946,65" href="../elements/49f344d8-b587-42fd-81c1-a46c3c5e7920.html"  target="element">
						<area shape="rect" coords="910,164,1030,219" href="../elements/06071a5a-54b8-403b-a720-362c00b12f8e.html"  target="element">
						<area shape="rect" coords="850,352,970,407" href="../elements/d4d983e0-ce20-448a-9dd5-fe014a295072.html"  target="element">
						<area shape="rect" coords="731,496,851,551" href="../elements/13a39e58-9f57-425e-b74f-c09b54b31c1a.html"  target="element">
						<area shape="rect" coords="490,580,610,635" href="../elements/39257014-c1b6-4d73-902e-059fe350156c.html"  target="element">
						<area shape="rect" coords="310,544,430,599" href="../elements/5f09dd78-3331-4c2f-b20d-2abe9b7a9b1d.html"  target="element">
						<area shape="rect" coords="154,472,274,527" href="../elements/44bc1b60-5a41-46b3-8e3f-95939a438372.html"  target="element">
						<area shape="rect" coords="10,100,155,365" href="../elements/b80f54f5-4db1-4ddc-8236-e7507861f59a.html"  target="element">
						<area shape="rect" coords="406,88,720,395" href="../elements/d6e0e32d-b634-48d6-8329-faa76d826af5.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/49f344d8-b587-42fd-81c1-a46c3c5e7920.html" target="element"> External Reporting Tools </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/06071a5a-54b8-403b-a720-362c00b12f8e.html" target="element"> Inventory Systems </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/d4d983e0-ce20-448a-9dd5-fe014a295072.html" target="element"> Payment applications </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/13a39e58-9f57-425e-b74f-c09b54b31c1a.html" target="element"> Sales application </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/39257014-c1b6-4d73-902e-059fe350156c.html" target="element"> Customer User Interface </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/5f09dd78-3331-4c2f-b20d-2abe9b7a9b1d.html" target="element"> erp applications </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/44bc1b60-5a41-46b3-8e3f-95939a438372.html" target="element"> Standard Data Archives </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
										<tr><td> <a href="../elements/b80f54f5-4db1-4ddc-8236-e7507861f59a.html" target="element"> Data Sources </a> </td><td class="i18n-elementtype-BusinessInterface"></td></tr>
										<tr><td> <a href="../elements/d6e0e32d-b634-48d6-8329-faa76d826af5.html" target="element"> Information Storage </a> </td><td class="i18n-elementtype-BusinessCollaboration"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>