<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SmartGovernment Business (GAP)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>SmartGovernment Business (GAP)</b>
			(<span class="i18n-viewpoint-business_process_cooperation"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_business_process_cooperation" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/266ca52c-717c-42c1-b799-c1a9ff4a363e.png" alt="SmartGovernment Business (GAP)" usemap="#266ca52c-717c-42c1-b799-c1a9ff4a363emap">
			<map name="266ca52c-717c-42c1-b799-c1a9ff4a363emap">
								<area shape="rect" coords="1186,130,1306,185" href="../elements/a6667f3c-cdab-4e58-8ac9-4d885b7a7b9f.html"  target="element">
								<area shape="rect" coords="874,118,994,173" href="../elements/63a08829-d203-40ee-9bcf-4565366dc466.html"  target="element">
								<area shape="rect" coords="610,118,730,173" href="../elements/12bf8ab3-7e0f-4ce6-88b8-78643d51ae59.html"  target="element">
										<area shape="rect" coords="597,226,717,281" href="../elements/0610c6e1-ddbe-4077-8d08-339ad84e49d9.html"  target="element">
										<area shape="rect" coords="728,226,848,281" href="../elements/f2748854-da30-459c-ae16-7513e8dd4722.html"  target="element">
										<area shape="rect" coords="861,226,994,281" href="../elements/a5239f59-54b8-4572-ab3c-a127f06453fe.html"  target="element">
										<area shape="rect" coords="1005,226,1114,281" href="../elements/ec72a84f-54f5-441a-9183-b092a58778c7.html"  target="element">

								<area shape="rect" coords="585,202,1125,287" href="../elements/1a3b9ccb-2e93-4863-8886-7bad2c7a3367.html"  target="element">
								<area shape="rect" coords="862,322,982,377" href="../elements/eb16f195-1a3e-494b-9dc8-1f47081dc6a8.html"  target="element">
								<area shape="rect" coords="1006,322,1126,377" href="../elements/d883e3db-c570-49d7-b6f1-42b7b9376093.html"  target="element">
								<area shape="rect" coords="598,322,718,377" href="../elements/7a8d4038-b0a6-4730-b00c-b2dbd8aaef7e.html"  target="element">
								<area shape="rect" coords="442,370,562,425" href="../elements/af964338-fbb9-46fd-88e6-b9a001d127dd.html"  target="element">
								<area shape="rect" coords="310,370,430,425" href="../elements/a3242018-4eae-466a-b934-0296036c7209.html"  target="element">
								<area shape="rect" coords="1186,46,1306,101" href="../elements/a8ce6473-d152-4cc4-850e-2fedf5fd37bd.html"  target="element">
								<area shape="rect" coords="46,370,166,425" href="../elements/399f44ff-a5cf-4eb0-9718-2e56b8e2bf4c.html"  target="element">
								<area shape="rect" coords="106,442,239,474" href="../elements/7199247a-0fff-4103-b3c9-5f0dc66becfc.html"  target="element">
								<area shape="rect" coords="106,478,239,527" href="../elements/c12a135d-2b63-468f-9f9d-f6d12c36198a.html"  target="element">
								<area shape="rect" coords="108,532,241,581" href="../elements/d32507f0-9b75-4ba5-a043-c7aaeff2c81b.html"  target="element">
								<area shape="rect" coords="107,589,239,623" href="../elements/27d58b51-90b8-4a24-bb7b-8a7f67e295a9.html"  target="element">
										<area shape="rect" coords="442,226,562,281" href="../elements/617861d3-6ad4-423e-a2a4-d2a185a6e623.html"  target="element">
										<area shape="rect" coords="46,226,166,281" href="../elements/fdea2540-37a0-4079-83ec-840ec67baa79.html"  target="element">
										<area shape="rect" coords="178,226,298,281" href="../elements/b6f64bdf-914d-46f0-834c-dec810596873.html"  target="element">
										<area shape="rect" coords="310,226,430,281" href="../elements/446d46ca-605c-4296-9ad3-1d915c096852.html"  target="element">

								<area shape="rect" coords="34,202,575,287" href="../elements/87b5baba-89f8-4ea8-b8a0-c63391293094.html"  target="element">
										<area shape="rect" coords="1150,226,1247,281" href="../elements/82205fd4-aa59-4561-9b14-8e3d80ce9559.html"  target="element">

								<area shape="rect" coords="1138,202,1322,287" href="../elements/01dd47b5-ac82-4c04-9f35-8acdad631d4e.html"  target="element">
								<area shape="rect" coords="1329,202,1521,287" href="../elements/1ad7eef8-82a1-4faa-9498-0447ea0c5966.html"  target="element">
								<area shape="rect" coords="1378,46,1498,101" href="../elements/d3ee9dfa-0cd7-4ac4-bc22-6acc69a65d15.html"  target="element">
								<area shape="rect" coords="1378,130,1498,185" href="../elements/45f72546-aebf-4f09-9039-70d39956b5fb.html"  target="element">
								<area shape="rect" coords="1534,202,1720,287" href="../elements/248b3885-f6dd-45b3-94da-4cd7c1afaca1.html"  target="element">
								<area shape="rect" coords="1570,130,1690,185" href="../elements/e32ab823-33ed-4c9b-b094-d2485bdb1e38.html"  target="element">
								<area shape="rect" coords="1762,202,1882,275" href="../elements/79c461ab-2ed3-47eb-970d-79427b8929b8.html"  target="element">
								<area shape="rect" coords="550,568,670,623" href="../elements/a0440392-6349-47f4-bc10-67c7961502f8.html"  target="element">
								<area shape="rect" coords="550,630,670,685" href="../elements/73347e30-2011-4d9b-a108-425315e4b66a.html"  target="element">
								<area shape="rect" coords="550,442,670,497" href="../elements/d14b36f9-1eb8-4e70-b7e3-abe45c345fe7.html"  target="element">
								<area shape="rect" coords="550,507,670,562" href="../elements/600fa0c2-d348-4af1-8df9-8e5dd101b442.html"  target="element">
								<area shape="rect" coords="346,478,503,512" href="../elements/0d3c3cab-c05c-4be8-836b-10d1c39fe5d7.html"  target="element">
								<area shape="rect" coords="346,442,503,474" href="../elements/ceafebda-c40a-40c3-90f9-60445d346519.html"  target="element">
								<area shape="rect" coords="346,555,503,589" href="../elements/29b02cbd-4190-4000-9c29-328db3400431.html"  target="element">
								<area shape="rect" coords="346,519,503,551" href="../elements/7111250d-5b59-47c5-ad1b-a957cfbaef2f.html"  target="element">
								<area shape="rect" coords="346,630,503,664" href="../elements/18f8b8a4-a986-44e6-ba56-03e5cd7f4724.html"  target="element">
								<area shape="rect" coords="346,594,503,626" href="../elements/a27278b2-63db-4a04-a5bf-de0d96aab478.html"  target="element">
								<area shape="rect" coords="346,712,503,761" href="../elements/d0bd4510-0174-434a-b0ce-1fb0f08c2cd8.html"  target="element">
								<area shape="rect" coords="346,676,503,708" href="../elements/15eed902-65d2-4318-82f7-f3e4c279e7d4.html"  target="element">
								<area shape="rect" coords="346,802,503,836" href="../elements/cb9b2f1f-7b6b-434e-b97c-49d1dca771d7.html"  target="element">
								<area shape="rect" coords="346,766,503,798" href="../elements/d3ddcabb-1e68-41b9-a14b-e39a2752320c.html"  target="element">
								<area shape="rect" coords="346,877,503,911" href="../elements/cb183fbf-a073-4b12-b7f6-f9f3fd1caad4.html"  target="element">
								<area shape="rect" coords="346,841,503,873" href="../elements/68c9c5e7-1330-4279-b4ce-1e8fd8d8ac0e.html"  target="element">
								<area shape="rect" coords="1102,544,1222,599" href="../elements/a7e38e1b-18de-4695-b9e8-e9bd8d96a514.html"  target="element">
								<area shape="rect" coords="1102,606,1222,661" href="../elements/b2699b0f-e018-4d52-931d-a7fd3c2f5666.html"  target="element">
								<area shape="rect" coords="1102,418,1222,473" href="../elements/f325536f-482d-4f0b-a3f7-82f56a536483.html"  target="element">
								<area shape="rect" coords="1102,483,1222,538" href="../elements/30735b4d-11d9-44fe-8be5-5e0d0d843a71.html"  target="element">
								<area shape="rect" coords="898,454,1055,488" href="../elements/25f564a7-e1f3-4276-8725-af9a31232eb8.html"  target="element">
								<area shape="rect" coords="898,418,1055,450" href="../elements/e62bd0d7-b5ee-43dd-ae2b-a93582f18811.html"  target="element">
								<area shape="rect" coords="898,531,1055,565" href="../elements/d8f439e5-fcfa-42f9-af9d-39708195ee2c.html"  target="element">
								<area shape="rect" coords="898,495,1055,527" href="../elements/6e2c0d57-6e01-46e9-b8c7-c5dc04ea7748.html"  target="element">
								<area shape="rect" coords="898,606,1055,640" href="../elements/0ace614e-4fe5-4605-aad2-eccc0d52483a.html"  target="element">
								<area shape="rect" coords="898,570,1055,602" href="../elements/7723ff83-1188-48e1-af51-f703d281f58b.html"  target="element">
								<area shape="rect" coords="898,688,1055,722" href="../elements/a8ec2f63-ebd0-4ed9-80e6-d8e7e853855f.html"  target="element">
								<area shape="rect" coords="898,652,1055,684" href="../elements/45e75522-b94b-47d2-a43f-e1454b9e7dfc.html"  target="element">
								<area shape="rect" coords="898,765,1055,799" href="../elements/e62c9bf7-b190-47ae-b6d1-f116e20bebc4.html"  target="element">
								<area shape="rect" coords="898,729,1055,761" href="../elements/8e2bd0bf-392f-4b25-9b41-9a78e8e1bb48.html"  target="element">
								<area shape="rect" coords="898,840,1055,874" href="../elements/3b52efcc-c53a-426f-b9f5-e197f816d0d2.html"  target="element">
								<area shape="rect" coords="898,804,1055,836" href="../elements/09fc1bd0-d74e-4828-82e4-16b40f42ebbe.html"  target="element">
								<area shape="rect" coords="1929,202,2182,275" href="../elements/f5268faa-025f-4414-a694-bc62ed5492c1.html"  target="element">
								<area shape="rect" coords="2026,310,2182,408" href="../elements/f991e490-6580-40c2-86dd-8cca125f2f21.html"  target="element">
								<area shape="rect" coords="2026,433,2182,506" href="../elements/70e4ffae-dba1-4144-b72f-7e5b76ef182d.html"  target="element">
								<area shape="rect" coords="2025,514,2182,599" href="../elements/588e1263-48f9-4fc9-9b9e-dc551df4a9cd.html"  target="element">
								<area shape="rect" coords="2025,616,2182,677" href="../elements/be1b6238-29de-490d-8a78-67b8bc5c780e.html"  target="element">
								<area shape="rect" coords="2025,689,2182,748" href="../elements/baa53d18-fa19-41ae-b332-673a8d5471dd.html"  target="element">
								<area shape="rect" coords="1570,310,1690,365" href="../elements/f2b1e8c3-500a-43f7-9d75-4420cf208a85.html"  target="element">
								<area shape="rect" coords="1642,721,1835,1226" href="../elements/8afb2376-f245-4a55-9f42-db0a465a6995.html"  target="element">


			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/a6667f3c-cdab-4e58-8ac9-4d885b7a7b9f.html" target="element"> Managing inventory </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/63a08829-d203-40ee-9bcf-4565366dc466.html" target="element"> Paying </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/12bf8ab3-7e0f-4ce6-88b8-78643d51ae59.html" target="element"> Purchasing </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/1a3b9ccb-2e93-4863-8886-7bad2c7a3367.html" target="element"> Purchasing </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/0610c6e1-ddbe-4077-8d08-339ad84e49d9.html" target="element"> Create order for service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/f2748854-da30-459c-ae16-7513e8dd4722.html" target="element"> Receive service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/a5239f59-54b8-4572-ab3c-a127f06453fe.html" target="element"> Invoice Approval and Payment </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/ec72a84f-54f5-441a-9183-b092a58778c7.html" target="element"> Receive receipt </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/eb16f195-1a3e-494b-9dc8-1f47081dc6a8.html" target="element"> Invoice </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d883e3db-c570-49d7-b6f1-42b7b9376093.html" target="element"> Receipt </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/7a8d4038-b0a6-4730-b00c-b2dbd8aaef7e.html" target="element"> Purchase Order </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/af964338-fbb9-46fd-88e6-b9a001d127dd.html" target="element"> Receipt </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a3242018-4eae-466a-b934-0296036c7209.html" target="element"> Invoice </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a8ce6473-d152-4cc4-850e-2fedf5fd37bd.html" target="element"> Inventory manager </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/399f44ff-a5cf-4eb0-9718-2e56b8e2bf4c.html" target="element"> Purchase Order </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/7199247a-0fff-4103-b3c9-5f0dc66becfc.html" target="element"> Vendor details </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/c12a135d-2b63-468f-9f9d-f6d12c36198a.html" target="element"> Quantities of goods and services </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d32507f0-9b75-4ba5-a043-c7aaeff2c81b.html" target="element"> Cost center attribution </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/27d58b51-90b8-4a24-bb7b-8a7f67e295a9.html" target="element"> Organizational info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/87b5baba-89f8-4ea8-b8a0-c63391293094.html" target="element"> Selling </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/617861d3-6ad4-423e-a2a4-d2a185a6e623.html" target="element"> Provide sales receipt </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/fdea2540-37a0-4079-83ec-840ec67baa79.html" target="element"> Recieve order </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/b6f64bdf-914d-46f0-834c-dec810596873.html" target="element"> Deliver service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/446d46ca-605c-4296-9ad3-1d915c096852.html" target="element"> Create invoice </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/01dd47b5-ac82-4c04-9f35-8acdad631d4e.html" target="element"> Inventory Management </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/82205fd4-aa59-4561-9b14-8e3d80ce9559.html" target="element"> Inventory count </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/1ad7eef8-82a1-4faa-9498-0447ea0c5966.html" target="element"> Adjustments </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/d3ee9dfa-0cd7-4ac4-bc22-6acc69a65d15.html" target="element"> Board </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/45f72546-aebf-4f09-9039-70d39956b5fb.html" target="element"> Making adjustments </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/248b3885-f6dd-45b3-94da-4cd7c1afaca1.html" target="element"> Bank transactions </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/e32ab823-33ed-4c9b-b094-d2485bdb1e38.html" target="element"> Bank transaction </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/79c461ab-2ed3-47eb-970d-79427b8929b8.html" target="element"> bank </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a0440392-6349-47f4-bc10-67c7961502f8.html" target="element"> product info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/73347e30-2011-4d9b-a108-425315e4b66a.html" target="element"> amount/price </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d14b36f9-1eb8-4e70-b7e3-abe45c345fe7.html" target="element"> company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/600fa0c2-d348-4af1-8df9-8e5dd101b442.html" target="element"> date of supply </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/0d3c3cab-c05c-4be8-836b-10d1c39fe5d7.html" target="element"> vendor company address </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/ceafebda-c40a-40c3-90f9-60445d346519.html" target="element"> vendor company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/29b02cbd-4190-4000-9c29-328db3400431.html" target="element"> date </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/7111250d-5b59-47c5-ad1b-a957cfbaef2f.html" target="element"> invoice reference number </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/18f8b8a4-a986-44e6-ba56-03e5cd7f4724.html" target="element"> amount </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a27278b2-63db-4a04-a5bf-de0d96aab478.html" target="element"> product info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d0bd4510-0174-434a-b0ce-1fb0f08c2cd8.html" target="element"> Customer purchase number </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/15eed902-65d2-4318-82f7-f3e4c279e7d4.html" target="element"> customer/company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/cb9b2f1f-7b6b-434e-b97c-49d1dca771d7.html" target="element"> Org.number </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d3ddcabb-1e68-41b9-a14b-e39a2752320c.html" target="element"> customer address </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/cb183fbf-a073-4b12-b7f6-f9f3fd1caad4.html" target="element"> payment terms </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/68c9c5e7-1330-4279-b4ce-1e8fd8d8ac0e.html" target="element"> bank info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a7e38e1b-18de-4695-b9e8-e9bd8d96a514.html" target="element"> product info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/b2699b0f-e018-4d52-931d-a7fd3c2f5666.html" target="element"> amount/price </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/f325536f-482d-4f0b-a3f7-82f56a536483.html" target="element"> company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/30735b4d-11d9-44fe-8be5-5e0d0d843a71.html" target="element"> date of supply </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/25f564a7-e1f3-4276-8725-af9a31232eb8.html" target="element"> company address Details </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/e62bd0d7-b5ee-43dd-ae2b-a93582f18811.html" target="element"> company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d8f439e5-fcfa-42f9-af9d-39708195ee2c.html" target="element"> date </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/6e2c0d57-6e01-46e9-b8c7-c5dc04ea7748.html" target="element"> invoice reference </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/0ace614e-4fe5-4605-aad2-eccc0d52483a.html" target="element"> amount </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/7723ff83-1188-48e1-af51-f703d281f58b.html" target="element"> product info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/a8ec2f63-ebd0-4ed9-80e6-d8e7e853855f.html" target="element"> Customer purchase number </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/45e75522-b94b-47d2-a43f-e1454b9e7dfc.html" target="element"> customer/company name </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/e62c9bf7-b190-47ae-b6d1-f116e20bebc4.html" target="element"> Org.number </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/8e2bd0bf-392f-4b25-9b41-9a78e8e1bb48.html" target="element"> customer address </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/3b52efcc-c53a-426f-b9f5-e197f816d0d2.html" target="element"> payment terms </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/09fc1bd0-d74e-4828-82e4-16b40f42ebbe.html" target="element"> bank info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/f5268faa-025f-4414-a694-bc62ed5492c1.html" target="element"> ISO 20022 (Universal Financial Industry Message Scheme) </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
												<tr><td> <a href="../elements/f991e490-6580-40c2-86dd-8cca125f2f21.html" target="element"> betalingsinstruksjoner (betalingsfiler) fra kunde til bank (pain 001) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/70e4ffae-dba1-4144-b72f-7e5b76ef182d.html" target="element"> kvitteringsfiler (returfiler) fra bank til kunde (pain 002 og pain 003). </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/588e1263-48f9-4fc9-9b9e-dc551df4a9cd.html" target="element"> fullstendig oversikt over transaksjoner som er debitert konto (camt 054d) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/be1b6238-29de-490d-8a78-67b8bc5c780e.html" target="element"> Innbetalinger (camt.054 credit) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/baa53d18-fa19-41ae-b332-673a8d5471dd.html" target="element"> Kontoutskrift (camt.053) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
												<tr><td> <a href="../elements/f2b1e8c3-500a-43f7-9d75-4420cf208a85.html" target="element"> Bank statements </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/8afb2376-f245-4a55-9f42-db0a465a6995.html" target="element"> Deliverable </a> </td><td class="i18n-elementtype-Deliverable"></td></tr>
										

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>