<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Generated View for ISO 20022 Bank Transactions</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Generated View for ISO 20022 Bank Transactions</b>
			(<span class="i18n-viewpoint-requirements_realization"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_requirements_realization" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/5a676c9b-fee8-4577-8079-7afac696ad8a.png" alt="Generated View for ISO 20022 Bank Transactions" usemap="#5a676c9b-fee8-4577-8079-7afac696ad8amap">
			<map name="5a676c9b-fee8-4577-8079-7afac696ad8amap">
						<area shape="rect" coords="10,10,130,65" href="../elements/f5268faa-025f-4414-a694-bc62ed5492c1.html"  target="element">
						<area shape="rect" coords="350,14,529,87" href="../elements/be1b6238-29de-490d-8a78-67b8bc5c780e.html"  target="element">
						<area shape="rect" coords="350,94,529,167" href="../elements/f991e490-6580-40c2-86dd-8cca125f2f21.html"  target="element">
						<area shape="rect" coords="350,174,529,247" href="../elements/70e4ffae-dba1-4144-b72f-7e5b76ef182d.html"  target="element">
						<area shape="rect" coords="350,254,529,327" href="../elements/248b3885-f6dd-45b3-94da-4cd7c1afaca1.html"  target="element">
						<area shape="rect" coords="350,334,529,407" href="../elements/baa53d18-fa19-41ae-b332-673a8d5471dd.html"  target="element">
						<area shape="rect" coords="350,414,529,487" href="../elements/588e1263-48f9-4fc9-9b9e-dc551df4a9cd.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<tr><td> <a href="../elements/f5268faa-025f-4414-a694-bc62ed5492c1.html" target="element"> ISO 20022 (Universal Financial Industry Message Scheme) </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/be1b6238-29de-490d-8a78-67b8bc5c780e.html" target="element"> Innbetalinger (camt.054 credit) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/f991e490-6580-40c2-86dd-8cca125f2f21.html" target="element"> betalingsinstruksjoner (betalingsfiler) fra kunde til bank (pain 001) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/70e4ffae-dba1-4144-b72f-7e5b76ef182d.html" target="element"> kvitteringsfiler (returfiler) fra bank til kunde (pain 002 og pain 003). </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/248b3885-f6dd-45b3-94da-4cd7c1afaca1.html" target="element"> Bank transactions </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
										<tr><td> <a href="../elements/baa53d18-fa19-41ae-b332-673a8d5471dd.html" target="element"> Kontoutskrift (camt.053) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/588e1263-48f9-4fc9-9b9e-dc551df4a9cd.html" target="element"> fullstendig oversikt over transaksjoner som er debitert konto (camt 054d) </a> </td><td class="i18n-elementtype-Representation"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>