<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>Needs</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>Needs</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/68a12e8c-1eea-4e9b-9dc2-9cb4d89edec1.png" alt="Needs" usemap="#68a12e8c-1eea-4e9b-9dc2-9cb4d89edec1map">
			<map name="68a12e8c-1eea-4e9b-9dc2-9cb4d89edec1map">
								<area shape="rect" coords="286,130,454,214" href="../elements/90512fae-0b56-4b33-a318-fc9156bc4c91.html"  target="element">
								<area shape="rect" coords="466,130,634,214" href="../elements/3a5f0d93-da42-4db0-b15b-c2e9d85368da.html"  target="element">
								<area shape="rect" coords="466,34,634,118" href="../elements/23e37b75-6915-43f7-bcfe-1a44a284dcac.html"  target="element">
								<area shape="rect" coords="106,34,274,117" href="../elements/7f19db87-48d0-4423-a361-c331697e8b02.html"  target="element">
								<area shape="rect" coords="286,34,454,117" href="../elements/e01cc7d4-fa13-4397-93d5-a36d32e2f132.html"  target="element">
								<area shape="rect" coords="106,130,274,214" href="../elements/80c87a8f-ec39-45c2-8631-8ad9380b9979.html"  target="element">

						<area shape="rect" coords="94,10,647,238" href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html"  target="element">
								<area shape="rect" coords="106,304,275,388" href="../elements/43981727-789a-4022-b3f0-26c773753ef3.html"  target="element">
								<area shape="rect" coords="286,303,455,388" href="../elements/870de64e-552c-4946-978b-7500f8928858.html"  target="element">
								<area shape="rect" coords="466,303,635,388" href="../elements/1261c8c5-60ae-4742-a666-8e1c2690a7a2.html"  target="element">
								<area shape="rect" coords="658,303,827,388" href="../elements/30d15ae7-c830-4ca7-ac47-b1e01f6a12c2.html"  target="element">
								<area shape="rect" coords="850,303,1091,388" href="../elements/a865f654-12c5-4680-ad60-81ae451c011b.html"  target="element">

						<area shape="rect" coords="94,268,1115,419" href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html"  target="element">
								<area shape="rect" coords="202,574,370,658" href="../elements/8c37908d-bfa6-4003-93aa-0d57d0e95a3e.html"  target="element">
								<area shape="rect" coords="22,574,191,658" href="../elements/e0de03aa-42a6-4e7d-84ab-12285e0beb15.html"  target="element">
								<area shape="rect" coords="382,574,550,671" href="../elements/496576f6-4ba5-436d-83c0-2da0265f7741.html"  target="element">

						<area shape="rect" coords="10,538,767,683" href="../elements/aff04b8d-6b63-431c-8cd5-3dd1590a516a.html"  target="element">
								<area shape="rect" coords="1090,34,1270,117" href="../elements/b5ac7e93-bb06-4f4a-a883-27335b66a54c.html"  target="element">
								<area shape="rect" coords="1282,130,1485,214" href="../elements/d5cd50e8-d251-4ca9-8a09-5352a3a1b971.html"  target="element">
								<area shape="rect" coords="1282,35,1485,117" href="../elements/c87141cc-6e68-4fb0-bb6e-423a02680286.html"  target="element">
								<area shape="rect" coords="875,141,1079,214" href="../elements/c77cdedc-68a5-4281-a903-a95e05e01d6f.html"  target="element">
								<area shape="rect" coords="875,34,1078,130" href="../elements/245cce39-8899-4074-9689-4a9c730ac1d4.html"  target="element">

						<area shape="rect" coords="862,10,1511,238" href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html"  target="element">
								<area shape="rect" coords="107,466,276,551" href="../elements/ca90a7aa-02d4-4a16-b03e-c5f192161105.html"  target="element">

						<area shape="rect" coords="95,430,851,587" href="../elements/25e6fae1-09b0-432e-bbc5-49030d47136c.html"  target="element">
								<area shape="rect" coords="670,34,839,118" href="../elements/aeb4f092-a733-4133-94da-32ed06158220.html"  target="element">
								<area shape="rect" coords="670,130,839,215" href="../elements/71376460-4cbb-4a29-92e3-441429820e3c.html"  target="element">

						<area shape="rect" coords="658,10,851,238" href="../elements/5d350bad-7ecb-4bbc-8ab8-6a1de3affaeb.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
						<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
						<li role="presentation"><a href="#relationships" aria-controls="relationships" role="tab" data-toggle="tab" class="i18n-relationships"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
						<div role="tabpanel" class="tab-pane" id="elements">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
									</tr>
								</thead>
								<tbody>
											<tr><td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/90512fae-0b56-4b33-a318-fc9156bc4c91.html" target="element"> Build on open standards </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/3a5f0d93-da42-4db0-b15b-c2e9d85368da.html" target="element"> Use clearly defined, global semantics </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/23e37b75-6915-43f7-bcfe-1a44a284dcac.html" target="element"> Protect user data </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/7f19db87-48d0-4423-a361-c331697e8b02.html" target="element"> Built to evolve  </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/e01cc7d4-fa13-4397-93d5-a36d32e2f132.html" target="element"> Favor imperfect existing standards over perfect custom standards </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/80c87a8f-ec39-45c2-8631-8ad9380b9979.html" target="element"> Enforce data portability </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											
											<tr><td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/43981727-789a-4022-b3f0-26c773753ef3.html" target="element"> Invoices must be recieved digitally </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/870de64e-552c-4946-978b-7500f8928858.html" target="element"> Bank account statements must be digital </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/1261c8c5-60ae-4742-a666-8e1c2690a7a2.html" target="element"> Orders must be standardized with clear semantics </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/30d15ae7-c830-4ca7-ac47-b1e01f6a12c2.html" target="element"> Orders must be digital </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/a865f654-12c5-4680-ad60-81ae451c011b.html" target="element"> The information must be represented in a generic and system-independent way to record all of the details in any kind of ledger.and bookkeeping </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											
											<tr><td> <a href="../elements/aff04b8d-6b63-431c-8cd5-3dd1590a516a.html" target="element"> WP4 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/8c37908d-bfa6-4003-93aa-0d57d0e95a3e.html" target="element"> Financial reports must be made avaliable for lookups </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/e0de03aa-42a6-4e7d-84ab-12285e0beb15.html" target="element"> Financial raw data must be avaliable for lookup </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/496576f6-4ba5-436d-83c0-2da0265f7741.html" target="element"> Financial reports must be aggregated over dimentions like products, clients, suppliers, countries, locations, qualities, quantities. </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											
											<tr><td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/b5ac7e93-bb06-4f4a-a883-27335b66a54c.html" target="element"> I am in control of all the transaction and financial data of my business </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/d5cd50e8-d251-4ca9-8a09-5352a3a1b971.html" target="element"> I never manually enter information that is already maintained digitally by the producers, vendors or the government [TOOP]  </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/c87141cc-6e68-4fb0-bb6e-423a02680286.html" target="element"> I rarely perform manual steps related to inventory, book-keeping, bank-transactions, VAT- and other government reporting etc, unless I choose to verify the proposals from my systems </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/c77cdedc-68a5-4281-a903-a95e05e01d6f.html" target="element"> If someone offers me a better deal or improved service, migrating to new service providers for services like book-keeping, inventory, reporting etc is just as easy as changing operator for my cell phone </a> </td><td class="i18n-elementtype-Principle"></td></tr>
													<tr><td> <a href="../elements/245cce39-8899-4074-9689-4a9c730ac1d4.html" target="element"> When I buy and sell goods and services I don't need to make any special arrangements when my trade-partners are in another Nordic country </a> </td><td class="i18n-elementtype-Principle"></td></tr>
											
											<tr><td> <a href="../elements/25e6fae1-09b0-432e-bbc5-49030d47136c.html" target="element"> WP3 </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/ca90a7aa-02d4-4a16-b03e-c5f192161105.html" target="element"> The endpoint of an organisation's ERP system must be known </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											
											<tr><td> <a href="../elements/5d350bad-7ecb-4bbc-8ab8-6a1de3affaeb.html" target="element"> WP1 Desired attributes </a> </td><td class="i18n-elementtype-Grouping"></td></tr>
													<tr><td> <a href="../elements/aeb4f092-a733-4133-94da-32ed06158220.html" target="element"> Data sharing controlled by the data originator </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
													<tr><td> <a href="../elements/71376460-4cbb-4a29-92e3-441429820e3c.html" target="element"> Strong enforcement of data integrity </a> </td><td class="i18n-elementtype-Requirement"></td></tr>
											

								</tbody>
							</table>
						</div>
						<div role="tabpanel" class="tab-pane" id="relationships">
							<table class="table table-striped table-hover table-condensed">
								<thead>
									<tr>
										<th class="i18n-name"></th>
										<th class="i18n-type"></th>
										<th class="i18n-source"></th>
										<th class="i18n-target"></th>
									</tr>
								</thead>
								<tbody>
																	<tr>
																		<td> <a href="../elements/6805e29f-efa1-4269-98f3-7ac48cba5bfd.html" target="element">  </a> </td>
																		<td> <a href="../elements/6805e29f-efa1-4269-98f3-7ac48cba5bfd.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/90512fae-0b56-4b33-a318-fc9156bc4c91.html" target="element"> Build on open standards </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/8793d284-828b-49df-9b49-689094a71a11.html" target="element">  </a> </td>
																		<td> <a href="../elements/8793d284-828b-49df-9b49-689094a71a11.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/3a5f0d93-da42-4db0-b15b-c2e9d85368da.html" target="element"> Use clearly defined, global semantics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/c7cc40ff-d1fa-4e88-8d17-8429e47f46a1.html" target="element">  </a> </td>
																		<td> <a href="../elements/c7cc40ff-d1fa-4e88-8d17-8429e47f46a1.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/23e37b75-6915-43f7-bcfe-1a44a284dcac.html" target="element"> Protect user data </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93af6756-1e23-4ee1-9eca-d7538da0a436.html" target="element">  </a> </td>
																		<td> <a href="../elements/93af6756-1e23-4ee1-9eca-d7538da0a436.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/7f19db87-48d0-4423-a361-c331697e8b02.html" target="element"> Built to evolve  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/ea29d1a5-be1b-48ed-b4f4-28ddfc177ff5.html" target="element">  </a> </td>
																		<td> <a href="../elements/ea29d1a5-be1b-48ed-b4f4-28ddfc177ff5.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/e01cc7d4-fa13-4397-93d5-a36d32e2f132.html" target="element"> Favor imperfect existing standards over perfect custom standards </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/93fba3aa-0c5f-4836-87dd-e667dadd5d06.html" target="element">  </a> </td>
																		<td> <a href="../elements/93fba3aa-0c5f-4836-87dd-e667dadd5d06.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/eb9f6eaa-1ea2-43ce-a05c-c17153656270.html" target="element"> WP1 Architecture principles </a> </td>
																		<td> <a href="../elements/80c87a8f-ec39-45c2-8631-8ad9380b9979.html" target="element"> Enforce data portability </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/ca59b3dc-d47f-40e2-9b43-05156196a5eb.html" target="element">  </a> </td>
																		<td> <a href="../elements/ca59b3dc-d47f-40e2-9b43-05156196a5eb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td>
																		<td> <a href="../elements/43981727-789a-4022-b3f0-26c773753ef3.html" target="element"> Invoices must be recieved digitally </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/77444a80-6a6b-44f3-803c-f4716681f120.html" target="element">  </a> </td>
																		<td> <a href="../elements/77444a80-6a6b-44f3-803c-f4716681f120.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td>
																		<td> <a href="../elements/870de64e-552c-4946-978b-7500f8928858.html" target="element"> Bank account statements must be digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/99627bee-6595-48ec-9959-3ecf23cf1609.html" target="element">  </a> </td>
																		<td> <a href="../elements/99627bee-6595-48ec-9959-3ecf23cf1609.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td>
																		<td> <a href="../elements/1261c8c5-60ae-4742-a666-8e1c2690a7a2.html" target="element"> Orders must be standardized with clear semantics </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5701240-b375-40e3-ba09-56db3f1921d9.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5701240-b375-40e3-ba09-56db3f1921d9.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td>
																		<td> <a href="../elements/30d15ae7-c830-4ca7-ac47-b1e01f6a12c2.html" target="element"> Orders must be digital </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/69848a93-8d00-4fd0-a8dc-0f813d549d01.html" target="element">  </a> </td>
																		<td> <a href="../elements/69848a93-8d00-4fd0-a8dc-0f813d549d01.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/d463a047-7d47-4cc5-8b71-8db4145893fc.html" target="element"> WP2 </a> </td>
																		<td> <a href="../elements/a865f654-12c5-4680-ad60-81ae451c011b.html" target="element"> The information must be represented in a generic and system-independent way to record all of the details in any kind of ledger.and bookkeeping </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/433fb7c8-dd56-4678-8769-81da461a0196.html" target="element">  </a> </td>
																				<td> <a href="../elements/433fb7c8-dd56-4678-8769-81da461a0196.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/1261c8c5-60ae-4742-a666-8e1c2690a7a2.html" target="element"> Orders must be standardized with clear semantics </a> </td>
																				<td> <a href="../elements/90512fae-0b56-4b33-a318-fc9156bc4c91.html" target="element"> Build on open standards </a> </td>
																			</tr>
																			<tr>
																				<td> <a href="../elements/d1fbdb53-15c0-41d4-bc2f-f6f4948475ce.html" target="element">  </a> </td>
																				<td> <a href="../elements/d1fbdb53-15c0-41d4-bc2f-f6f4948475ce.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/1261c8c5-60ae-4742-a666-8e1c2690a7a2.html" target="element"> Orders must be standardized with clear semantics </a> </td>
																				<td> <a href="../elements/3a5f0d93-da42-4db0-b15b-c2e9d85368da.html" target="element"> Use clearly defined, global semantics </a> </td>
																			</tr>

											
																	<tr>
																		<td> <a href="../elements/e99ce3c5-bc35-4c73-be0e-2d6b4e4a9e8a.html" target="element">  </a> </td>
																		<td> <a href="../elements/e99ce3c5-bc35-4c73-be0e-2d6b4e4a9e8a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aff04b8d-6b63-431c-8cd5-3dd1590a516a.html" target="element"> WP4 </a> </td>
																		<td> <a href="../elements/8c37908d-bfa6-4003-93aa-0d57d0e95a3e.html" target="element"> Financial reports must be made avaliable for lookups </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/cb704765-b241-44e3-9ade-f5ac3767a84b.html" target="element">  </a> </td>
																		<td> <a href="../elements/cb704765-b241-44e3-9ade-f5ac3767a84b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aff04b8d-6b63-431c-8cd5-3dd1590a516a.html" target="element"> WP4 </a> </td>
																		<td> <a href="../elements/e0de03aa-42a6-4e7d-84ab-12285e0beb15.html" target="element"> Financial raw data must be avaliable for lookup </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/bcf3ea13-b40c-4fc4-a501-162756fd1acc.html" target="element">  </a> </td>
																		<td> <a href="../elements/bcf3ea13-b40c-4fc4-a501-162756fd1acc.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/aff04b8d-6b63-431c-8cd5-3dd1590a516a.html" target="element"> WP4 </a> </td>
																		<td> <a href="../elements/496576f6-4ba5-436d-83c0-2da0265f7741.html" target="element"> Financial reports must be aggregated over dimentions like products, clients, suppliers, countries, locations, qualities, quantities. </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/122e58ae-e7e0-4b5e-83bc-cb872fc8f7f7.html" target="element">  </a> </td>
																		<td> <a href="../elements/122e58ae-e7e0-4b5e-83bc-cb872fc8f7f7.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td>
																		<td> <a href="../elements/b5ac7e93-bb06-4f4a-a883-27335b66a54c.html" target="element"> I am in control of all the transaction and financial data of my business </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1879c567-2ac3-4ae8-8c2a-3f744e784a7a.html" target="element">  </a> </td>
																		<td> <a href="../elements/1879c567-2ac3-4ae8-8c2a-3f744e784a7a.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td>
																		<td> <a href="../elements/d5cd50e8-d251-4ca9-8a09-5352a3a1b971.html" target="element"> I never manually enter information that is already maintained digitally by the producers, vendors or the government [TOOP]  </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a5d19590-8164-4ff8-8adb-d9c81618410b.html" target="element">  </a> </td>
																		<td> <a href="../elements/a5d19590-8164-4ff8-8adb-d9c81618410b.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td>
																		<td> <a href="../elements/c87141cc-6e68-4fb0-bb6e-423a02680286.html" target="element"> I rarely perform manual steps related to inventory, book-keeping, bank-transactions, VAT- and other government reporting etc, unless I choose to verify the proposals from my systems </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/a7e5ffde-9f26-43fc-ae9e-6bbb50e6a8b2.html" target="element">  </a> </td>
																		<td> <a href="../elements/a7e5ffde-9f26-43fc-ae9e-6bbb50e6a8b2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td>
																		<td> <a href="../elements/c77cdedc-68a5-4281-a903-a95e05e01d6f.html" target="element"> If someone offers me a better deal or improved service, migrating to new service providers for services like book-keeping, inventory, reporting etc is just as easy as changing operator for my cell phone </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/7bcdc0fc-704e-4156-8719-16631355b5bb.html" target="element">  </a> </td>
																		<td> <a href="../elements/7bcdc0fc-704e-4156-8719-16631355b5bb.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/20df57c4-d397-45e9-a472-1bf429208880.html" target="element"> WP1 User principles </a> </td>
																		<td> <a href="../elements/245cce39-8899-4074-9689-4a9c730ac1d4.html" target="element"> When I buy and sell goods and services I don't need to make any special arrangements when my trade-partners are in another Nordic country </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/f1759c9f-59a6-4ee0-aafe-c779035470c2.html" target="element">  </a> </td>
																		<td> <a href="../elements/f1759c9f-59a6-4ee0-aafe-c779035470c2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/25e6fae1-09b0-432e-bbc5-49030d47136c.html" target="element"> WP3 </a> </td>
																		<td> <a href="../elements/ca90a7aa-02d4-4a16-b03e-c5f192161105.html" target="element"> The endpoint of an organisation's ERP system must be known </a> </td>
																	</tr>

											
																	<tr>
																		<td> <a href="../elements/8947a986-0eb6-455d-a0c2-bf591386c7a2.html" target="element">  </a> </td>
																		<td> <a href="../elements/8947a986-0eb6-455d-a0c2-bf591386c7a2.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d350bad-7ecb-4bbc-8ab8-6a1de3affaeb.html" target="element"> WP1 Desired attributes </a> </td>
																		<td> <a href="../elements/aeb4f092-a733-4133-94da-32ed06158220.html" target="element"> Data sharing controlled by the data originator </a> </td>
																	</tr>
																	<tr>
																		<td> <a href="../elements/1b0e4eb2-d493-4895-932e-fa735226ea57.html" target="element">  </a> </td>
																		<td> <a href="../elements/1b0e4eb2-d493-4895-932e-fa735226ea57.html" target="element" class="i18n-elementtype-CompositionRelationship"></a> </td>
																		<td> <a href="../elements/5d350bad-7ecb-4bbc-8ab8-6a1de3affaeb.html" target="element"> WP1 Desired attributes </a> </td>
																		<td> <a href="../elements/71376460-4cbb-4a29-92e3-441429820e3c.html" target="element"> Strong enforcement of data integrity </a> </td>
																	</tr>

																			<tr>
																				<td> <a href="../elements/4996e1fa-e049-41cd-b224-b1046472f32e.html" target="element">  </a> </td>
																				<td> <a href="../elements/4996e1fa-e049-41cd-b224-b1046472f32e.html" target="element" class="i18n-elementtype-RealizationRelationship"></a> </td>
																				<td> <a href="../elements/aeb4f092-a733-4133-94da-32ed06158220.html" target="element"> Data sharing controlled by the data originator </a> </td>
																				<td> <a href="../elements/23e37b75-6915-43f7-bcfe-1a44a284dcac.html" target="element"> Protect user data </a> </td>
																			</tr>

											

								</tbody>
							</table>
						</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>