<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html class="frame" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>SmartGovernment Business (Company processes)</title>

	<!-- JQUERY (use 1.x branch to be compatible with IE 6/7/8) -->
	<script type="text/javascript" src="../../lib/jquery/js/jquery-1.11.2.min.js"></script>
	<!-- BOOTSTRAP -->
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-3.3.2.min.css">
	<link type="text/css" rel="stylesheet" href="../../lib/bootstrap/css/bootstrap-theme-3.3.2.min.css">
	<script type="text/javascript" src="../../lib/bootstrap/js/bootstrap-3.3.2.min.js"></script>
	<!-- REPORT SPECIFIC -->
	<link type="text/css" rel="stylesheet" href="../../css/model.css">
	<link type="text/css" rel="stylesheet" href="../../css/i18n.css">
	<script type="text/javascript" src="../../js/frame.js"></script>
	<script type="text/javascript" src="../../js/imageMapResizer.min.js"></script>
</head>

<body>
	<div class="panel panel-default root-panel">
		<div class="panel-heading root-panel-heading">
			<b>SmartGovernment Business (Company processes)</b>
			(<span class="i18n-viewpoint-"></span>)
			<a class="glyphicon glyphicon-info-sign" id="hint-viewpoint_" target="hint"></a>
		</div>
		<div class="panel-body root-panel-body">
			<img class="diagram" src="../images/6927b348-6f6d-4836-a6db-96bb2ecf0b8d.png" alt="SmartGovernment Business (Company processes)" usemap="#6927b348-6f6d-4836-a6db-96bb2ecf0b8dmap">
			<map name="6927b348-6f6d-4836-a6db-96bb2ecf0b8dmap">
								<area shape="rect" coords="1186,202,1306,257" href="../elements/dc113156-5fee-4f12-b369-1eb5c11accf5.html"  target="element">
								<area shape="rect" coords="874,190,994,245" href="../elements/13fd1214-4993-4b10-8625-14a45c7c9e93.html"  target="element">
								<area shape="rect" coords="610,190,730,245" href="../elements/14bbaa88-21c8-4969-8d39-77d823268bc5.html"  target="element">
										<area shape="rect" coords="597,298,717,353" href="../elements/a8c64c33-a126-459a-bb8d-a29c0a5af61b.html"  target="element">
										<area shape="rect" coords="728,298,848,353" href="../elements/27e4f81a-5192-4aba-8933-32039fbdcd4a.html"  target="element">
										<area shape="rect" coords="861,298,994,353" href="../elements/1c31d978-a724-40b0-b284-1ebb610be372.html"  target="element">
										<area shape="rect" coords="1005,298,1114,353" href="../elements/e2bf91b0-5451-46eb-b196-5838e958e50e.html"  target="element">

								<area shape="rect" coords="585,274,1125,359" href="../elements/c555c30a-ce75-44df-a6eb-699cd5626033.html"  target="element">
								<area shape="rect" coords="862,394,982,449" href="../elements/99b80f3b-ff08-4703-b13b-01ae6ca6ddb9.html"  target="element">
								<area shape="rect" coords="1006,394,1126,449" href="../elements/3dc7fa8b-4912-4505-88b3-199e4ae865fa.html"  target="element">
								<area shape="rect" coords="598,394,718,449" href="../elements/9d31a059-5cce-46e7-81e9-912205277df2.html"  target="element">
								<area shape="rect" coords="442,394,562,449" href="../elements/d1149fce-bedb-4314-918a-791887d10ce0.html"  target="element">
								<area shape="rect" coords="310,394,430,449" href="../elements/c1097619-ee03-40cc-92ad-aeb75392399b.html"  target="element">
								<area shape="rect" coords="1186,118,1306,173" href="../elements/1c8e8594-fa8e-43ca-81c7-555d001388a6.html"  target="element">
								<area shape="rect" coords="46,394,166,449" href="../elements/c216c529-c999-44d7-ad8c-31fbe579a9fb.html"  target="element">
								<area shape="rect" coords="106,466,239,498" href="../elements/4ec62b4d-8616-4642-b373-4c51b882bde4.html"  target="element">
								<area shape="rect" coords="106,502,239,551" href="../elements/b83f1f23-8033-43b9-aff6-2c095ee7a840.html"  target="element">
								<area shape="rect" coords="108,556,241,605" href="../elements/cf0efaed-78be-4974-aaf6-0d568d88ad58.html"  target="element">
								<area shape="rect" coords="107,613,239,647" href="../elements/2bacd2cf-bebf-4bb0-9cd2-080b8c67ef23.html"  target="element">
										<area shape="rect" coords="442,298,562,353" href="../elements/5841c584-7499-4b42-80fe-92fa2142813f.html"  target="element">
										<area shape="rect" coords="46,298,166,353" href="../elements/c267806b-5fe4-49b9-b8fb-ab91c25daadf.html"  target="element">
										<area shape="rect" coords="178,298,298,353" href="../elements/46bde59c-2d3e-4a54-88c0-5712c83973f8.html"  target="element">
										<area shape="rect" coords="310,298,430,353" href="../elements/bcb55196-fddb-4807-9603-edf08257d5e2.html"  target="element">

								<area shape="rect" coords="34,274,575,359" href="../elements/bf419340-1180-4f07-b2d1-f75f804c2736.html"  target="element">
										<area shape="rect" coords="1150,298,1247,353" href="../elements/a2c9644d-f263-4b7e-b1df-2018debca6f7.html"  target="element">

								<area shape="rect" coords="1138,274,1322,359" href="../elements/1a5374b1-f6e6-4301-8a87-40e6c11e074a.html"  target="element">
								<area shape="rect" coords="1329,274,1521,359" href="../elements/e1f88a23-289b-44f2-8a55-02cbfab628ce.html"  target="element">
								<area shape="rect" coords="1378,118,1498,173" href="../elements/6ca2cbee-4325-40e2-aa1f-efa8a01aaa1c.html"  target="element">
								<area shape="rect" coords="1378,202,1498,257" href="../elements/a495b448-a682-4ce5-90e6-e45c448671ac.html"  target="element">
								<area shape="rect" coords="1534,274,1720,359" href="../elements/729165ac-9da9-487e-8024-702707a378b6.html"  target="element">
								<area shape="rect" coords="1570,202,1690,257" href="../elements/aeeec053-e817-4e74-b5ca-5aaf549e38e5.html"  target="element">

						<area shape="rect" coords="622,10,742,65" href="../elements/56eaf8dc-3b39-4ad7-bafc-eccf7ffe0105.html"  target="element">
						<area shape="rect" coords="142,10,262,65" href="../elements/5a2e1a30-e408-420e-a326-5ce9ee863927.html"  target="element">
						<area shape="rect" coords="886,10,1006,65" href="../elements/6c64605f-1709-4edb-be3a-4248038fbb74.html"  target="element">
						<area shape="rect" coords="1342,10,1462,65" href="../elements/f2b0ca07-a873-4309-af04-957c11a222dc.html"  target="element">
						<area shape="rect" coords="1750,202,2003,275" href="../elements/e34c05e2-e65b-4fae-a55f-50757ade1691.html"  target="element">
						<area shape="rect" coords="1847,298,2003,396" href="../elements/19e3555d-2869-45fa-a404-46dfe3e7706b.html"  target="element">
						<area shape="rect" coords="1847,406,2003,479" href="../elements/616b319b-039d-494b-936a-94bd1ec6f31e.html"  target="element">
						<area shape="rect" coords="1846,490,2003,575" href="../elements/85679ad5-e8a4-43c8-9962-91ffd017177c.html"  target="element">
						<area shape="rect" coords="1846,586,2003,647" href="../elements/ff1b1b7e-b08b-4661-88c4-0fb22045fe11.html"  target="element">
						<area shape="rect" coords="1846,658,2003,717" href="../elements/0fedceb9-6247-455d-beec-cb1cb59234f0.html"  target="element">
						<area shape="rect" coords="1582,10,1702,65" href="../elements/942bbac4-713b-4726-b184-3790fddf9926.html"  target="element">

			</map>
			<div role="tabpanel">
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#documentation" aria-controls="documentation" role="tab" data-toggle="tab" class="i18n-documentation"></a></li>
					<li role="presentation"><a href="#properties" aria-controls="properties" role="tab" data-toggle="tab" class="i18n-properties"></a></li>
					<li role="presentation"><a href="#elements" aria-controls="elements" role="tab" data-toggle="tab" class="i18n-elements"></a></li>
				</ul>

				<!-- Tab panes -->
				<div class="tab-content">
					<div role="tabpanel" class="tab-pane active" id="documentation">
						<textarea id="docsrc" style="display:none"></textarea>
						<div id="doctgt" style="white-space:pre-wrap"></div>
					</div>
					<div role="tabpanel" class="tab-pane" id="properties">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-key"></th>
									<th class="i18n-value"></th>
								</tr>
							</thead>
							<tbody>
							</tbody>
						</table>
					</div>
					<div role="tabpanel" class="tab-pane" id="elements">
						<table class="table table-striped table-hover table-condensed">
							<thead>
								<tr>
									<th class="i18n-name"></th>
									<th class="i18n-type"></th>
								</tr>
							</thead>
							<tbody>
										<!-- DEBUG: Skipping element from class com.archimatetool.model.impl.DiagramModelGroup -->	
												<tr><td> <a href="../elements/dc113156-5fee-4f12-b369-1eb5c11accf5.html" target="element"> Managing inventory </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/13fd1214-4993-4b10-8625-14a45c7c9e93.html" target="element"> Paying </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/14bbaa88-21c8-4969-8d39-77d823268bc5.html" target="element"> Purchasing </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/c555c30a-ce75-44df-a6eb-699cd5626033.html" target="element"> Purchasing </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/a8c64c33-a126-459a-bb8d-a29c0a5af61b.html" target="element"> Create order for service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/27e4f81a-5192-4aba-8933-32039fbdcd4a.html" target="element"> Receive service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/1c31d978-a724-40b0-b284-1ebb610be372.html" target="element"> Invoice Approval and Payment </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/e2bf91b0-5451-46eb-b196-5838e958e50e.html" target="element"> Receive receipt </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/99b80f3b-ff08-4703-b13b-01ae6ca6ddb9.html" target="element"> Invoice </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/3dc7fa8b-4912-4505-88b3-199e4ae865fa.html" target="element"> Receipt </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/9d31a059-5cce-46e7-81e9-912205277df2.html" target="element"> Purchase Order </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/d1149fce-bedb-4314-918a-791887d10ce0.html" target="element"> Receipt </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/c1097619-ee03-40cc-92ad-aeb75392399b.html" target="element"> Invoice </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/1c8e8594-fa8e-43ca-81c7-555d001388a6.html" target="element"> Inventory manaager </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/c216c529-c999-44d7-ad8c-31fbe579a9fb.html" target="element"> Purchase Order </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/4ec62b4d-8616-4642-b373-4c51b882bde4.html" target="element"> Vendor details </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/b83f1f23-8033-43b9-aff6-2c095ee7a840.html" target="element"> Quantities of goods and services </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/cf0efaed-78be-4974-aaf6-0d568d88ad58.html" target="element"> Cost center attribution </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/2bacd2cf-bebf-4bb0-9cd2-080b8c67ef23.html" target="element"> Organizational info </a> </td><td class="i18n-elementtype-BusinessObject"></td></tr>
												<tr><td> <a href="../elements/bf419340-1180-4f07-b2d1-f75f804c2736.html" target="element"> Selling </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/5841c584-7499-4b42-80fe-92fa2142813f.html" target="element"> Provide sales receipt </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/c267806b-5fe4-49b9-b8fb-ab91c25daadf.html" target="element"> Recieve order </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/46bde59c-2d3e-4a54-88c0-5712c83973f8.html" target="element"> Deliver service or product </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
														<tr><td> <a href="../elements/bcb55196-fddb-4807-9603-edf08257d5e2.html" target="element"> Create invoice </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/1a5374b1-f6e6-4301-8a87-40e6c11e074a.html" target="element"> Inventory Management </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
														<tr><td> <a href="../elements/a2c9644d-f263-4b7e-b1df-2018debca6f7.html" target="element"> Inventory count </a> </td><td class="i18n-elementtype-BusinessProcess"></td></tr>
												
												<tr><td> <a href="../elements/e1f88a23-289b-44f2-8a55-02cbfab628ce.html" target="element"> Adjustments </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/6ca2cbee-4325-40e2-aa1f-efa8a01aaa1c.html" target="element"> Board </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
												<tr><td> <a href="../elements/a495b448-a682-4ce5-90e6-e45c448671ac.html" target="element"> Making adjustments </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
												<tr><td> <a href="../elements/729165ac-9da9-487e-8024-702707a378b6.html" target="element"> Bank transactions </a> </td><td class="i18n-elementtype-BusinessFunction"></td></tr>
												<tr><td> <a href="../elements/aeeec053-e817-4e74-b5ca-5aaf549e38e5.html" target="element"> Bank transaction </a> </td><td class="i18n-elementtype-BusinessService"></td></tr>
										
										<tr><td> <a href="../elements/56eaf8dc-3b39-4ad7-bafc-eccf7ffe0105.html" target="element"> Vendor </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/5a2e1a30-e408-420e-a326-5ce9ee863927.html" target="element"> Customer </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/6c64605f-1709-4edb-be3a-4248038fbb74.html" target="element"> Bank, Credit Card company </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/f2b0ca07-a873-4309-af04-957c11a222dc.html" target="element"> Acountant </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>
										<tr><td> <a href="../elements/e34c05e2-e65b-4fae-a55f-50757ade1691.html" target="element"> ISO 20022 (Universal Financial Industry Message Scheme) </a> </td><td class="i18n-elementtype-Constraint"></td></tr>
										<tr><td> <a href="../elements/19e3555d-2869-45fa-a404-46dfe3e7706b.html" target="element"> betalingsinstruksjoner (betalingsfiler) fra kunde til bank (pain 001) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/616b319b-039d-494b-936a-94bd1ec6f31e.html" target="element"> kvitteringsfiler (returfiler) fra bank til kunde (pain 002 og pain 003). </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/85679ad5-e8a4-43c8-9962-91ffd017177c.html" target="element"> fullstendig oversikt over transaksjoner som er debitert konto (camt 054d) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/ff1b1b7e-b08b-4661-88c4-0fb22045fe11.html" target="element"> Innbetalinger (camt.054 credit) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/0fedceb9-6247-455d-beec-cb1cb59234f0.html" target="element"> Kontoutskrift (camt.053) </a> </td><td class="i18n-elementtype-Representation"></td></tr>
										<tr><td> <a href="../elements/942bbac4-713b-4726-b184-3790fddf9926.html" target="element"> Bank </a> </td><td class="i18n-elementtype-BusinessRole"></td></tr>

							</tbody>
						</table>
					</div>
			  </div>
			</div>
		</div>
	</div>
	<script type="text/javascript">imageMapResize();</script>
</body>
</html>